build/
SLIF.egg-info/
venv/
.venv/
/*/__pycache__/
.vscode/
*/__pycache__
*/*/__pycache__
.coverage
htmlcov/
.pytest_cache
notebooks/
.vs
*/*-checkpoint*
*/.ipynb_checkpoints
tools/
scripts/
plots/
direction_maps/
